@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model rupsayar.Models.VM.HomeVM

<div id="content" class="site-content">
    <div class="ast-container">
        <div id="primary" class="content-area primary">
            <main id="main" class="site-main">
                <article class="post-13 page type-page status-publish ast-article-single" id="post-13" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                    <header class="entry-header ast-no-title ast-header-without-markup">
                    </header>
                    <div class="entry-content clear" itemprop="text">
                        <div data-elementor-type="wp-page" data-elementor-id="13" class="elementor elementor-13">
                            <div class="elementor-element elementor-element-2850d20 e-flex e-con-boxed e-con e-parent" data-id="2850d20" data-element_type="container" data-settings='{"background_background":"classic","content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-88c3635 e-con-full e-flex e-con e-child" data-id="88c3635" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-9b61427 elementor-widget elementor-widget-heading" data-id="9b61427" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="elementor-heading-title elementor-size-default">Crafted with Care for Memorable Moments.</h1>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5c668a9 elementor-widget elementor-widget-text-editor" data-id="5c668a9" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c2a6e40 elementor-tablet-align-center elementor-align-left elementor-widget elementor-widget-button" data-id="c2a6e40" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">SHOP NOW</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2c9c216 e-con-full e-flex e-con e-child" data-id="2c9c216" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-5f89e8c elementor-widget elementor-widget-image" data-id="5f89e8c" data-element_type="widget" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img fetchpriority="high" decoding="async" width="911" height="758" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image.jpg" class="attachment-full size-full wp-image-23" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image.jpg 911w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image-300x250.jpg 300w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image-768x639.jpg 768w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image-600x499.jpg 600w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/hero-image-400x333.jpg 400w" sizes="(max-width: 911px) 100vw, 911px">
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-0b4de0b elementor-view-stacked elementor-shape-square elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-icon" data-id="0b4de0b" data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="icon.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-wrapper">
                                                    <a class="elementor-icon" href="#categories">
                                                        <i aria-hidden="true" class="fas fa-arrow-down"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-cf54dcc e-flex e-con-boxed e-con e-parent" data-id="cf54dcc" data-element_type="container" id="categories" data-settings='{"content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-80a018f e-con-full e-flex e-con e-child" data-id="80a018f" data-element_type="container" data-settings='{"content_width":"full"}'>
                                        <div class="elementor-element elementor-element-e392a35 e-con-full e-flex e-con e-child" data-id="e392a35" data-element_type="container" data-settings='{"content_width":"full"}'>
                                            <div class="elementor-element elementor-element-cc2e4d5 e-con-full e-flex e-con e-child" data-id="cc2e4d5" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                                <div class="elementor-element elementor-element-8b69cd4 elementor-position-right elementor-vertical-align-middle elementor-widget__width-initial elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="8b69cd4" data-element_type="widget" data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">
                                                            <div class="elementor-icon-box-icon">
                                                                <a href="#" class="elementor-icon elementor-animation-" tabindex="-1">
                                                                    <i aria-hidden="true" class="fas fa-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                            <div class="elementor-icon-box-content">
                                                                <h4 class="elementor-icon-box-title">
                                                                    <a href="#">
                                                                        Explore Indoor
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-0859d1e e-con-full e-flex e-con e-child" data-id="0859d1e" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                                <div class="elementor-element elementor-element-20e29cb elementor-position-right elementor-vertical-align-middle elementor-widget__width-initial elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="20e29cb" data-element_type="widget" data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">
                                                            <div class="elementor-icon-box-icon">
                                                                <a href="#" class="elementor-icon elementor-animation-" tabindex="-1">
                                                                    <i aria-hidden="true" class="fas fa-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                            <div class="elementor-icon-box-content">
                                                                <h4 class="elementor-icon-box-title">
                                                                    <a href="#">
                                                                        Explore Outdoor
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-796898a e-con-full e-flex e-con e-child" data-id="796898a" data-element_type="container" data-settings='{"content_width":"full"}'>
                                            <div class="elementor-element elementor-element-8579a5e e-con-full e-flex e-con e-child" data-id="8579a5e" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                                <div class="elementor-element elementor-element-8f1b7ae elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="8f1b7ae" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            20% Off On Your
                                                            First Order
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2bb3944 elementor-widget__width-initial elementor-widget elementor-widget-button" data-id="2bb3944" data-element_type="widget" data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">SHOP NOW</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-0a5062a e-flex e-con-boxed e-con e-parent" data-id="0a5062a" data-element_type="container" data-settings='{"content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-251a6cd e-con-full e-flex e-con e-child" data-id="251a6cd" data-element_type="container" data-settings='{"content_width":"full"}'>
                                        <div class="elementor-element elementor-element-6920ac8 elementor-widget elementor-widget-heading" data-id="6920ac8" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">New Arrivals</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3b7388e elementor-widget elementor-widget-shortcode" data-id="3b7388e" data-element_type="widget" data-widget_type="shortcode.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-shortcode">
                                                    @Html.Partial("~/Views/Shared/ProductList.cshtml", Model.Products)
                                                </div>
                                            </div>
                                        </div>


                                        <div class="elementor-element elementor-element-2bfeb6f elementor-align-center elementor-widget elementor-widget-button" data-id="2bfeb6f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="/Home/AllProducts">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">EXPLORE ALL PRODUCTS</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="elementor-element elementor-element-53b8d7e e-flex e-con-boxed e-con e-parent" data-id="53b8d7e" data-element_type="container" data-settings='{"background_background":"classic","content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-8436303 e-con-full e-flex e-con e-child" data-id="8436303" data-element_type="container" data-settings='{"content_width":"full"}'>
                                        <div class="elementor-element elementor-element-50e4650 e-con-full e-flex e-con e-child" data-id="50e4650" data-element_type="container" data-settings='{"content_width":"full"}'>
                                            <div class="elementor-element elementor-element-46640d2 e-con-full e-flex e-con e-child" data-id="46640d2" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                <div class="elementor-element elementor-element-92bd670 elementor-widget elementor-widget-image" data-id="92bd670" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img loading="lazy" decoding="async" width="486" height="497" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/unique-image.jpg" class="attachment-full size-full wp-image-137" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/unique-image.jpg 486w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/unique-image-293x300.jpg 293w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/unique-image-285x291.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/unique-image-400x409.jpg 400w" sizes="(max-width: 486px) 100vw, 486px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-3e89c3d e-con-full e-flex e-con e-child" data-id="3e89c3d" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                <div class="elementor-element elementor-element-34143f3 elementor-widget elementor-widget-heading" data-id="34143f3" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Unique Designs</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ed41d9c elementor-widget elementor-widget-text-editor" data-id="ed41d9c" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-77fb475 e-con-full e-flex e-con e-child" data-id="77fb475" data-element_type="container" data-settings='{"content_width":"full"}'>
                                            <div class="elementor-element elementor-element-e5c262f e-con-full e-flex e-con e-child" data-id="e5c262f" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                <div class="elementor-element elementor-element-3c7e7d5 elementor-widget elementor-widget-heading" data-id="3c7e7d5" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">High-End Quality</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-a5c700f elementor-widget elementor-widget-text-editor" data-id="a5c700f" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-246ee77 e-con-full e-flex e-con e-child" data-id="246ee77" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                <div class="elementor-element elementor-element-5bb889b elementor-widget elementor-widget-image" data-id="5bb889b" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <img loading="lazy" decoding="async" width="486" height="497" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/highend-image.jpg" class="attachment-full size-full wp-image-138" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/highend-image.jpg 486w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/highend-image-293x300.jpg 293w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/highend-image-285x291.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/highend-image-400x409.jpg 400w" sizes="(max-width: 486px) 100vw, 486px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-4fd63fc e-con-full e-flex e-con e-parent" data-id="4fd63fc" data-element_type="container" data-settings='{"content_width":"full","background_background":"classic"}' data-core-v316-plus="true">
                                <div class="elementor-element elementor-element-51b4b31 e-con-full e-flex e-con e-child" data-id="51b4b31" data-element_type="container" data-settings='{"content_width":"full"}'>
                                    <div class="elementor-element elementor-element-1793b01 elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon" data-id="1793b01" data-element_type="widget" data-widget_type="icon.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-wrapper">
                                                <a class="elementor-icon" href="#">
                                                    <i aria-hidden="true" class="fas fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-9336c3e e-flex e-con-boxed e-con e-parent" data-id="9336c3e" data-element_type="container" data-settings='{"content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-555fbe7 e-con-full e-flex e-con e-child" data-id="555fbe7" data-element_type="container" data-settings='{"content_width":"full"}'>
                                        <div class="elementor-element elementor-element-1cc2e5b elementor-widget elementor-widget-heading" data-id="1cc2e5b" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Most popular</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-88042f8 elementor-widget elementor-widget-text-editor" data-id="88042f8" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-728c73c elementor-widget elementor-widget-shortcode" data-id="728c73c" data-element_type="widget" data-widget_type="shortcode.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-shortcode">
                                                    <div class="woocommerce columns-4 ">
                                                        <ul class="products columns-4">
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-95 status-publish first instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/hand-made-pottery/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-12.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-12.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-12-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=95" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="95" data-product_sku aria-label="Add to cart: &#8220;Hand Made Pottery&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/hand-made-pottery/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Hand Made Pottery</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>42.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-93 status-publish instock product_cat-all-products product_cat-garden-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/rattan-lamp/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-11.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-11.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-11-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=93" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="93" data-product_sku aria-label="Add to cart: &#8220;Rattan Lamp&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/rattan-lamp/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Rattan Lamp</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>13.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-91 status-publish instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/ceramic-blue-vase/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-10.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-10.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-10-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=91" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="91" data-product_sku aria-label="Add to cart: &#8220;Ceramic Blue Vase&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/ceramic-blue-vase/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Ceramic Blue Vase</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>33.50</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-89 status-publish last instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/gaungzhou-vase/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-09.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-09.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-09-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=89" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="89" data-product_sku aria-label="Add to cart: &#8220;Gaungzhou Vase&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/gaungzhou-vase/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Gaungzhou Vase</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>36.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-87 status-publish first instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/colorful-bottle/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-08.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-08.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-08-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=87" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="87" data-product_sku aria-label="Add to cart: &#8220;Colorful Bottle&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/colorful-bottle/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Colorful Bottle</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>18.50</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-85 status-publish instock product_cat-all-products product_cat-garden-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/unique-wooden-vase/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-07.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-07.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-07-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=85" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="85" data-product_sku aria-label="Add to cart: &#8220;Unique Wooden Vase&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/unique-wooden-vase/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Unique Wooden Vase</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>28.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-83 status-publish instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/round-pendant-lamp/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-06.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-06.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-06-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=83" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="83" data-product_sku aria-label="Add to cart: &#8220;Round Pendant Lamp&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/round-pendant-lamp/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Round Pendant Lamp</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>35.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                            <li class="ast-article-single desktop-align-left tablet-align-left mobile-align-left product type-product post-81 status-publish last instock product_cat-all-products product_cat-home-decor product_cat-most-popular has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                <div class="astra-shop-thumbnail-wrap">
                                                                    <a href="https://websitedemos.net/home-garden-decor-02/product/metal-hanging-lights/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img loading="lazy" decoding="async" width="285" height="382" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-05.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-05.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/product-05-224x300.jpg 224w" sizes="(max-width: 285px) 100vw, 285px"></a><a href="?add-to-cart=81" data-quantity="1" class="ast-on-card-button ast-select-options-trigger product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="81" data-product_sku aria-label="Add to cart: &#8220;Metal Hanging Lights&#8221;" rel="nofollow">
                                                                        <span class="ast-card-action-tooltip"> Add to cart </span> <span class="ahfb-svg-iconset">
                                                                            <span class="ast-icon icon-bag">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-bag-icon-svg" x="0px" y="0px" width="100" height="100" viewbox="826 826 140 140" enable-background="new 826 826 140 140" xml:space="preserve">
<path d="M960.758,934.509l2.632,23.541c0.15,1.403-0.25,2.657-1.203,3.761c-0.953,1.053-2.156,1.579-3.61,1.579H833.424  c-1.454,0-2.657-0.526-3.61-1.579c-0.952-1.104-1.354-2.357-1.203-3.761l2.632-23.541H960.758z M953.763,871.405l6.468,58.29H831.77  l6.468-58.29c0.15-1.203,0.677-2.218,1.58-3.045c0.903-0.827,1.981-1.241,3.234-1.241h19.254v9.627c0,2.658,0.94,4.927,2.82,6.807  s4.149,2.82,6.807,2.82c2.658,0,4.926-0.94,6.807-2.82s2.821-4.149,2.821-6.807v-9.627h28.882v9.627  c0,2.658,0.939,4.927,2.819,6.807c1.881,1.88,4.149,2.82,6.807,2.82s4.927-0.94,6.808-2.82c1.879-1.88,2.82-4.149,2.82-6.807v-9.627  h19.253c1.255,0,2.332,0.414,3.235,1.241C953.086,869.187,953.612,870.202,953.763,871.405z M924.881,857.492v19.254  c0,1.304-0.476,2.432-1.429,3.385s-2.08,1.429-3.385,1.429c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.43-2.081-1.43-3.385  v-19.254c0-5.315-1.881-9.853-5.641-13.613c-3.76-3.761-8.298-5.641-13.613-5.641s-9.853,1.88-13.613,5.641  c-3.761,3.76-5.641,8.298-5.641,13.613v19.254c0,1.304-0.476,2.432-1.429,3.385c-0.953,0.953-2.081,1.429-3.385,1.429  c-1.303,0-2.432-0.477-3.384-1.429c-0.953-0.953-1.429-2.081-1.429-3.385v-19.254c0-7.973,2.821-14.779,8.461-20.42  c5.641-5.641,12.448-8.461,20.42-8.461c7.973,0,14.779,2.82,20.42,8.461C922.062,842.712,924.881,849.519,924.881,857.492z"></path>
</svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div><div class="astra-shop-summary-wrap">
                                                                    <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div><a href="https://websitedemos.net/home-garden-decor-02/product/metal-hanging-lights/" class="ast-loop-product__link"><h2 class="woocommerce-loop-product__title">Metal Hanging Lights</h2></a>
                                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>24.00</bdi></span></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3617099 elementor-align-center elementor-widget elementor-widget-button" data-id="3617099" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">EXPLORE ALL PRODUCTS</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-f7d5cca e-flex e-con-boxed e-con e-parent" data-id="f7d5cca" data-element_type="container" data-settings='{"background_background":"classic","content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-5b6502a e-con-full e-flex e-con e-child" data-id="5b6502a" data-element_type="container" data-settings='{"content_width":"full"}'>
                                        <div class="elementor-element elementor-element-10c9e37 elementor-widget elementor-widget-heading" data-id="10c9e37" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">
                                                    This is what makes us different <br>
                                                    Hear from our customers.
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d6ed413 e-flex e-con-boxed e-con e-child" data-id="d6ed413" data-element_type="container" data-settings='{"content_width":"boxed"}'>
                                            <div class="e-con-inner">
                                                <div class="elementor-element elementor-element-d04cce2 e-con-full e-flex e-con e-child" data-id="d04cce2" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-b5f6836 elementor-widget elementor-widget-testimonial" data-id="b5f6836" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image.png" class="attachment-full size-full wp-image-148" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Mike Sendler</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-e7e8010 e-con-full e-flex e-con e-child" data-id="e7e8010" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-a9f70ff elementor-widget elementor-widget-testimonial" data-id="a9f70ff" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image02.png" class="attachment-full size-full wp-image-162" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Melissa Miner</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-8709a79 e-con-full e-flex e-con e-child" data-id="8709a79" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-d5fb6ff elementor-widget elementor-widget-testimonial" data-id="d5fb6ff" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image03.png" class="attachment-full size-full wp-image-163" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Andrew Woods</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7875985 e-flex e-con-boxed e-con e-child" data-id="7875985" data-element_type="container" data-settings='{"content_width":"boxed"}'>
                                            <div class="e-con-inner">
                                                <div class="elementor-element elementor-element-04cc255 e-con-full e-flex e-con e-child" data-id="04cc255" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-61736c3 elementor-widget elementor-widget-testimonial" data-id="61736c3" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image04.png" class="attachment-full size-full wp-image-164" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Jenny Sanders</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0bd516d e-con-full e-flex e-con e-child" data-id="0bd516d" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-07b542d elementor-widget elementor-widget-testimonial" data-id="07b542d" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image05.png" class="attachment-full size-full wp-image-272" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Steven Moore</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-d3c057b e-con-full e-flex e-con e-child" data-id="d3c057b" data-element_type="container" data-settings='{"content_width":"full"}'>
                                                    <div class="elementor-element elementor-element-0d4227b elementor-widget elementor-widget-testimonial" data-id="0d4227b" data-element_type="widget" data-widget_type="testimonial.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-testimonial-wrapper">
                                                                <div class="elementor-testimonial-content">Justo vestibulum risus imperdiet consectetur consectetur pretium urna augue etiam risus acc um san volutpat urna, eu sem per enim, est aliquam laoet urna fringilla viverra.</div>
                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                    <div class="elementor-testimonial-meta-inner">
                                                                        <div class="elementor-testimonial-image">
                                                                            <img loading="lazy" decoding="async" width="60" height="60" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/testimonials-image06.png" class="attachment-full size-full wp-image-273" alt>
                                                                        </div>
                                                                        <div class="elementor-testimonial-details">
                                                                            <div class="elementor-testimonial-name">Alicia Hilson</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-f965ea6 e-con-full e-flex e-con e-parent" data-id="f965ea6" data-element_type="container" data-settings='{"content_width":"full"}' data-core-v316-plus="true">
                                <div class="elementor-element elementor-element-565924d e-con-full e-flex e-con e-child" data-id="565924d" data-element_type="container" data-settings='{"content_width":"full"}'>
                                    <div class="elementor-element elementor-element-b083bc3 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="b083bc3" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="fab fa-instagram"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <h3 class="elementor-icon-box-title">
                                                        <span>
                                                            @*Follow @antiques*@
                                                        </span>
                                                    </h3>
                                                    <p class="elementor-icon-box-description">
                                                        Leo nulla cras augue eros, diam vivamus et lectus volutpat at facilisi tortor porta.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e09347e elementor-widget elementor-widget-image" data-id="e09347e" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="1920" height="384" src="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image.jpg" class="attachment-full size-full wp-image-147" alt srcset="https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image.jpg 1920w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-300x60.jpg 300w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-1024x205.jpg 1024w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-768x154.jpg 768w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-1536x307.jpg 1536w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-285x57.jpg 285w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-600x120.jpg 600w, https://websitedemos.net/home-garden-decor-02/wp-content/uploads/sites/1034/2022/02/instafeed-image-400x80.jpg 400w" sizes="(max-width: 1920px) 100vw, 1920px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-83fbccd e-flex e-con-boxed e-con e-parent" data-id="83fbccd" data-element_type="container" data-settings='{"content_width":"boxed"}' data-core-v316-plus="true">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-48e5b98 e-con-full e-flex e-con e-child" data-id="48e5b98" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-a543e8d elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="a543e8d" data-element_type="widget" data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
                                                            <i aria-hidden="true" class="fas fa-truck"></i>
                                                        </span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h5 class="elementor-icon-box-title">
                                                            <span>
                                                                Free Shipping
                                                            </span>
                                                        </h5>
                                                        <p class="elementor-icon-box-description">
                                                            Justo vestibulum risus impe rdietsconse sectetur.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8370021 e-con-full e-flex e-con e-child" data-id="8370021" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-4b9e8fc elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="4b9e8fc" data-element_type="widget" data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
                                                            <i aria-hidden="true" class="fas fa-recycle"></i>
                                                        </span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h5 class="elementor-icon-box-title">
                                                            <span>
                                                                30 Days Return
                                                            </span>
                                                        </h5>
                                                        <p class="elementor-icon-box-description">
                                                            Justo vestibulum risus impe rdietsconse sectetur.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ec7bc5d e-con-full e-flex e-con e-child" data-id="ec7bc5d" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-256b1a9 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="256b1a9" data-element_type="widget" data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
                                                            <i aria-hidden="true" class="fas fa-percentage"></i>
                                                        </span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h5 class="elementor-icon-box-title">
                                                            <span>
                                                                Best Offers
                                                            </span>
                                                        </h5>
                                                        <p class="elementor-icon-box-description">
                                                            Justo vestibulum risus impe rdietsconse sectetur.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2ff11f0 e-con-full e-flex e-con e-child" data-id="2ff11f0" data-element_type="container" data-settings='{"background_background":"classic","content_width":"full"}'>
                                        <div class="elementor-element elementor-element-a6913e0 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="a6913e0" data-element_type="widget" data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
                                                            <i aria-hidden="true" class="fas fa-lock"></i>
                                                        </span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h5 class="elementor-icon-box-title">
                                                            <span>
                                                                Secure Payment
                                                            </span>
                                                        </h5>
                                                        <p class="elementor-icon-box-description">
                                                            Justo vestibulum risus impe rdietsconse sectetur.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
@*<div class="astra-mobile-cart-overlay"></div>*@
<div id="astra-mobile-cart-drawer" class="astra-cart-drawer">
    <div class="astra-cart-drawer-header">
        <button type="button" class="astra-cart-drawer-close" aria-label="Close Cart Drawer">
            <span class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg class="ast-mobile-svg ast-close-svg" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path></svg></span>
        </button>
        <div class="astra-cart-drawer-title">
            Shopping Cart
        </div>
    </div>
    <div class="astra-cart-drawer-content ">
        <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>
    </div>
</div>

